<h2>******** Now your results ********</h2>
<h3>Result</h3>
<% if @include == true && @english_word == true %>
<%=  "Congratulations! #{@user_input} is valid word!" %>
<%= link_to "Play again!", new_path %>
<% elsif @include == false %>
<%= "Sorry. I can't build a word with #{@user_input}." %>
<%= link_to "Play again!", new_path %>
<% elsif @english_word == false %>
<%= "Sorry. #{@user_input} is not a english word." %>
<%= link_to "Play again!", new_path %>
<% end %>
